#background{
    background: url(coffee3.jpg);
    padding:20px;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1.5px  white;
    padding:10px;
    
}
span{
    color:white;
    font-size: 1.5rem;
}

#navbar{
    display: flex;
    align-items: right;
}

#coffee_text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 6rem;
    text-align-last: right;
    letter-spacing: 10px;
    justify-content: right;
   
}

h3{
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    
}

#shop_button{
    width: 8rem;
    height:3rem;
    color:white;
    border:1px solid white;
    float: right;
    font-size: 22px;
    justify-content: center;
}

#shop_button:hover{
    background-color: antiquewhite;
    
}

p{
    display: inline;
}

#second_section{
    padding-top:80px;
}

#coffee_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:40px;
}

#espresso_img{
    border-radius: 20px;
}

#sec_3{
    background:url(https://cdn.pixabay.com/photo/2016/06/20/13/44/paper-1468883_1280.jpg);
    background-size: cover;
    height: 100vh;
}
#sec_3h1{
    font-size: 8rem;

}
#sec_3
{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
#prep_list{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

@media screen and (max-width:1220px){

    #coffee_list{
        display: flex;
        flex-wrap: wrap;
    }
}
